/*colors*/

$col-1: #927bc1;
  
  
  $col-2: #fd7856;
  
  $col-3: #deb2ee;
  
  
  $col-4: #7ee6fd;
  
  
  $col-5: #88d9a0;
  
  $col-6: #4da2bb;
  
  
  $col-7: #ec9fa3;
  
  
  $col-8: #fd9f85;
  
  $col-9: #e4757a;
  
  
  $col-10: #63cc82;
  
  
  $col-11: #51ddfc;
  
  
  $col-12: #80e8d1;

  $greenish: #58e1c1; 
  
  $kindagrey: #777; 

  $palest-blue: #839994; 

  $btn: #fff; 

  /*media queries*/

  $break-m: 786px; 