
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $col-11;
  }
  
  .error {
    background-color: $col-9;
  }
  
  .info {
    background-color: $col-1;
  }
  
  .success {
    background-color: $col-10;
  }
  
  .warning {
    background-color: $col-2;
  }